<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  <link rel="stylesheet" href="/css/meusResumos.css">
  <title>Memoriz - Revise & Aprenda</title>

</head>
<body>
<header >
  <div class="logo-topo" id="logo">
    <a th:href="@{/memoriz}">
      <img src="/imgs/Logo.png" alt="logo do Site" >
    </a>
  </div>

  <div class="caixa-nav-top">

    <nav class="caixa-ul-top" >
      <ul  id="itens">
        <li><a th:href="@{/relatorio}">Relatórios</a></li>
        <li><a th:href="@{/login}">Entrar</a></li>
        <li><a th:href="@{/memoriz}">Sair</a></li>
      </ul>

    </nav>
  </div>
</header>

<div class="box-resumo">
  <textarea th:object="${estudos}" name="resumo" id="" cols="30" rows="10" placeholder=>[[${estudos.resumo}]]</textarea>
  <div class="caixaDosBotoes">
    <button class="btn-salvar">Salvar</button>
  </div>
</div>

</body>
</html>