@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;  
}
body{
    background-image: url(/imgs/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 100vh;
}
header{
    display: flex;
    justify-items: center;
    position: fixed;
    padding: 10px;
   
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(255,255, 255,0.32);
    font-size: 15px;
    transition: all 0.4s ease; 
    display:flex;
   
    position: fixed;
    top: 0;
}
.logo-topo{
    width: 50%;
    margin-left: 50px;
}
.caixa-nav-top{
    width: 50%;
    display: flex;
    justify-content: end;
}
.material-symbols-outlined{
    display: none;    
}

nav ul{
    display: flex;
}
nav ul li{
    display: flex;
    margin: 18px;   
}

nav ul li a{
    text-decoration: none;
    color:#3e3c6e;
    font-weight: bold; 
    font-size: 14px;    
}
nav ul li a:hover{
    color: white;
}
.box-resumo{
    display: grid;
    width: 800px;
    height: 900px;
    box-sizing: border-box;
    justify-items: center;
    
    
}
textarea{
    width: 800px;
    height: 600px;
    background-color: rgba(255,255, 255,0.32);
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    margin-top: 200px;
   
}
.caixaDosBotoes{
   
    display: flex;
    justify-content: end;
    width: 780px;
    height: 50px;

}
.btn-salvar{
    height: 100%;
    width: 35%;
    background: #3e3c6e;
    border-radius: 20px;
    outline: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;

}






@media (max-width:930px){
    body{
        width: 100% auto;
        height: 100%;
    }
    .logo-topo{
        margin-left: 0;
        display: flex;
        height: 30%;
    }
    .caixa-nav-top{
        width: 70%;
        display: flex;
        justify-items: center;
    }
  
     
    nav ul{
        display: flex;
    }
    nav ul li{
        display: flex;
        margin: 5px;
        padding-top: 10%;  
    }
    nav ul li a{
        text-decoration: none;
        color:#3e3c6e;
        font-weight: bold; 
    }
    nav ul li a:hover{
        color: white;
    }
}





@media (max-width:419px) {
   
    
    
    
}