@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;  
}
body{
    background-image: url(/Memoriz/img/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 100vh;
}
header{
    display: flex;
    justify-items: center;
    position: fixed;
    padding: 10px;
   
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(255,255, 255,0.32);
    font-size: 15px;
    transition: all 0.4s ease; 
    display:flex;
   
    position: fixed;
    top: 0;
}
.logo-topo{
    width: 100%; 
    margin-left: 50px;   
}
.caixa-nav-top{
    width: 50%;
    display: flex;
    justify-content: end;
}

nav ul{
    display: flex;

}
nav ul li{
    display: flex;
    margin: 15px; 
   
}
nav ul li a{
    text-decoration: none;
    color:#3e3c6e;
    font-weight: bold; 
    font-size: 14px;    
}
nav ul li a:hover{
    color: white;
}
.box{
    display: flex;
    width: 1000px;
    padding: 150px;
}
.img-box{
    background-color: rgba(255,255, 255,0.5);
    width: 50%;
    display: grid;
    align-items: center;
    padding: 20px;
    border-radius: 20px 0 0 20px;
}
.caixa-logo{
    display: flex;
    justify-content: center;
}























.w50{
    width: 80%;
    float: left;
    padding-right: 15px;
}
.data{
    width: 50%;
}



.form-box{
    background-color: rgba(255,255, 255,0.4);
    
    padding: 30px 40px;
    width: 80%;
    border-radius: 0 20px 20px 0;
}
.form-box h2{
    font-weight: bold;
    color: #3D3D3D;
}
.form-box form{
    margin: 20px 0;
}
form{
    display:grid;
}
form .input-grupo{
    margin-bottom: 15px;
}
form .input-grupo label {
    color: #3D3D3D;
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
form .input-grupo input {
    width: 100%;
    height: 47px;
    background-color: rgba(255,255, 255,0.32);
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
}
form .input-grupo input:focus{
    border-color: #ff008869;
}
form .input-grupo button{
    width: 100%;
    height: 47px;
    background: #3e3c6e;
    border-radius: 20px;
    outline: none;
    border: none;
    margin-top: 15px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}
textarea{
    width: 100%;
    height: 200px;
    background-color: rgba(255,255, 255,0.32);
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    
}
.area{
    width: 130%;
    height: 405px;
    background-color: rgba(255,255, 255,0.32);
    border-radius: 20px;
    outline: none;
    border: 2px solid transparent;
    padding: 15px;
    font-size: 15px;
    color: #616161;
    transition: all 0.4s ease;
    margin-top: 40px;
}










@media (max-width:930px){
    
  
    .logo-topo{
        margin-left: 0;
        width: 30%;

    }
    .caixa-nav-top{
        width: 70%;
        display: flex;
        justify-items: center;
    }
    nav ul{
        display: flex;
    }
    nav ul li{
        display: flex;
        margin: 5px;
        padding-top: 10%;  
    }
    nav ul li a{
        text-decoration: none;
        color:#3e3c6e;
        font-weight: bold; 
    }
    nav ul li a:hover{
        color: white;
    }
    .caixa-logo{
        display: flex;
        justify-content: center;
        margin: 20px;
    }
    .caixa-topo{
   
        position: fixed;
        height: 91px;
        left: 0px;
    
     }
     .box{
        display: grid;
        width: 700px;
        justify-items: center;
           
    }
    .area{
        width: 285px;
        height: 400px;
    }
   .box .img-box{
    background: none;
    justify-content: center;
    width: 350px;
   }
    .form-box{
        width: initial;
        
        border-radius: 20px;  
    }

   
}
@media (max-width:419px) {
    
    .logo-topo{
        margin-left: 0;
        width: 30%;

    }
    .caixa-nav-top{
        width: 70%;
        display: flex;
        justify-items: center;
    }
    
    
    
}