<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="https://andrelessssa.github.io/Memoriz/css/style.css"/>
    <title>Memoriz - Revise & Aprenda</title>

</head>
<body>
<div class="box">
    <div class="img-box">
        <div class="caixa-logo">
            <img src="/src/main/resources/static/img/Logo.png" alt="" class="imgg"/>
        </div>
        <div>
            <textarea name="" id="" cols="30" rows="10" placeholder="Revisão de 24HS"></textarea>
            <textarea name="" id="" cols="30" rows="10" placeholder="Revisão de ..."></textarea>
        </div>
    </div>

    <div class="form-box">
        <h2>Vamos estudar...</h2>

        <form method="post">
            <div class="input-grupo w50">
                <label for="materia">O que vamos ESTUDAR?</label>
                <input type="text" name="disciplina" id="materia" placeholder="Digite aqui a matéria" />
            </div>
            <div class="input-grupo w50">
                <label for="assunto">Qual o assunto?</label>
                <input type="text" name="assunto" id="assunto" placeholder="Digite aqui o assunto" />
            </div>
            <div class="input-grupo w50 data">
                <label for="data">Data:</label>
                <input type="date" name="data" id="data"  />
            </div>

            <div class="input-grupo w50">
                <label for="resumo">Faça seu resumo:</label>
                <textarea name="resumo" id="resumo" cols="30" rows="10" placeholder="Digite aqui o seu resumo" class="area"></textarea>
            </div>

            <div class="input-grupo">
                <button type="submit">Cadastrar</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
