<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Memoriz/css/style.css">
    <title>Memoriz</title>
</head>
<body>
    <div class="img">
       
        <img src="/Memoriz/img/Logo.png" alt="">  
    </div>
    <div class="texto">
        <h1>Em Construção</h1>
    </div>

   <div class="formulario">
    
    <form action="" method="post" class="form">

    <label for="Materia">Disciplina: </label>
    <input type="text">
    <label for="Materia">Assunto: </label>
    <input type="text"> 
    <label for="Materia">Data: </label>
    <input type="date">
    <label for="Materia">Hora início: </label>
    <input type="time">
    <label for="Materia">Hora Fim: </label>
    <input type="time">
    <label for="">Resumo: </label>
    <textarea name="" id="" cols="30" rows="10"> </textarea>

   
    </form>
    <button>Salvar</button>
   
    </div>
    
</body>
</html>