<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/Memoriz/css/style.css">
    <title>Memoriz Revise & Aprenda</title>
    <style>
        body{
            background-image: url(/Memoriz/img/background.png);
        }
    </style>
    <title>Memoriz</title>
</head>
<body>
    <header >
        <div class="logo-topo" id="logo">
            <a href="/Memoriz/memoriz.html">
            <img src="/Memoriz/img/Logo.png" alt="logo do Site" >
            </a>
        </div>
        
        <div class="caixa-nav-top">
           
        <nav >
            <ul  id="itens">
              <li><a href="/Memoriz/html/meusResumos.html">Meus Resumos</a></li>
              <li><a href="/Memoriz/html/Login.html">Entrar</a></li>
              <li><a href="/Memoriz/memoriz.html">Sair</a></li>
            </ul>
        
          </nav>
        </div>
    </header>
    
    <div class="box">
        <div class="img-box">
            <div class="caixa-logo">
            <img src="/Memoriz/img/Logo.png" alt="logo do Site" >
            </div>
            <div>
            <textarea name="" id="" cols="30" rows="10" placeholder="Revisão de 24HS"></textarea>
            <textarea name="" id="" cols="30" rows="10" placeholder="Revisão de ..."></textarea>
            </div>
        </div>

        <div class="form-box">
            <h2>Vamos Estudar...</h2>
            
            <form action="#">
                <div class="input-grupo w50">
                    <label for="materia">O que vamos ESTUDAR?</label>
                    <input type="text" id="materia" placeholder="Digite Aqui a Matéria" required>
                </div>
                <div class="input-grupo w50">
                    <label for="assunto">Qual o Assunto?</label>
                    <input type="text" id="assunto" placeholder="Digite Aqui o Assunto" required>
                </div>
                <div class="input-grupo w50 data">
                    <label for="data">Data:</label>
                    <input type="date" id="data" placeholder="Digite Aqui o Assunto" required>
                </div>

                <div class="input-grupo w50" >
                    <label for="resumo">Faça Seu Resumo:</label>
                    <textarea name="resumo" id="resumo" cols="30" rows="10" placeholder="Digite Aqui o Seu resumo" required class="area"></textarea>
                </div> 
                <div class="input-grupo">
                    <button>Cadastrar</button>
                </div>
            </form>
        </div>
    </div>
  
   <script src="/Memoriz/js/memoriz.js"></script> 
</body>
</html>