body{
    background-color: rgb(251, 251, 251);
    margin: 50px auto;
}
.img {
    justify-content: center;
    display: flex;
  
}
.texto{
    display: flex;
    justify-content: center;
}
.formulario{
    width: 400px;
    height: 400px;
    border: 2px solid black;
    margin: 20px auto;
    box-sizing: border-box;
  
}
input{
    display: flex;
    
}